body {
	font-size: 16px;
	color: #000000;
	background-color: #FFFFFF;
	font-family: 'oxygen', sans-serif;
}

/** HEADER **/
#hearder-nav {
	background-color: #808080;
	border-radius: 0;
	border: 0;
}
